.footer
  %input.text{type: "text",placeholder: "type a message"}
  %form{action: "#"}
    %label
      %span{class: "filelabel"}
        =fa_icon "picture-o"
      %input{type: "file", id: "filesend"}
  .footer__send send
