$white: #FFFFFF;
$content_navy: #434A54;
$side_blue_dark: #253141;
$light_blue: #38AEF0;
$sidebar_background: #253141;
$groups_bacckground: #2f3e51;
$gray: #eeeeee;
$dark_gray: #333333;
$light_gray: #999999;
$footer_gray: #AAAAAA;
$side_header_font: 16px;
$side_group_name: 15px;
$side_group_message: 11px;

