@import "./reset";
@import "./variable";
@import "font-awesome";
@import "modules/user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";
@import "modules/chat";
@import "modules/side_bar";

.html {
  height: 100vh;
  width: 100vw;

  .body {
    height: 100vh;

    #wrap {
     width: 100vw;
     position: relative;
     height: 100vh;
     min-height: 100vh;

      .header {
        height: 40px;
        width: 100%;
        background-color: $light_blue;
        color: $white;
        text-align: center;
        line-height: 40px;
      }

      .sidebar {
        width: 300px;
        height: 100vh;
        min-height: 100vh;
        float: left;

        .sidebar-top {
          height: 90px;
          width: 260px;
          padding-left: 20px;
          padding-right: 20px;
          background-color: $sidebar_background;
          float: left;
          position:relative;

          &__name {
            font-size: 16px;
            font-weight: bold;
            color: $white;
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          .icon-edit {
            color: $white;
            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
          }
          .icon-gear {
            color: $white;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .groups {
          height: 100%;
          width: calc(100% - 40px);
          padding-left: 20px;
          padding-right: 20px;
          color: $white;
          background-color: $groups_bacckground;
          float: left;
          .group {
            padding: 20px 0 20px;
            &__name {
                font-size: 15px;
                padding-bottom: 5px;
                color: $white;
            }
            &__message {
                font-size: 11px;
                color: $white;
            }
          }
        }
      }

      .messages-top {
        height: 54px;
        padding: 35px 40px 0 340px;
        border-bottom: 1px solid $gray;
        .messages-group {
          font-size: 20px;
          color: $dark_gray;
          &__members {
            font-size: 12px;
            color: $light_gray;
          }
        }
      }
      .messages {
        // height: calc(100% - 225px);
        padding: 6px 40px 0px 340px;
        .message {
          padding-bottom: 40px;
          .user-name {
            display:inline-block;
            font-size: 16px;
            font-weight: bold;
            color: $content_navy;
          }
          .update {
            display: inline;
            padding-left: 10px;
            font-size: 12px;
            color: $light_gray;
          }
          .content {
            font-size: 14px;
            color: $content_navy;
            padding-top: 10px;
          }
        }
      }
      .footer {
        position: fixed;
        bottom: 0;
        height: 50px;
        line-height: 50px;
        width: calc(100vw - 455px);
        margin-left: 300px;
        border-top: solid 20px $footer_gray;
        border-bottom: solid 20px $footer_gray;
        border-left: solid 40px $footer_gray;
        border-right: solid 115px $footer_gray;
        .form {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          height: 50px;
          &__message {
            width: calc(100vw - 465px);
            height: 50px;
            border: 0px;
            font-size: 16px;
            color: $content_navy;
            padding-left: 10px;
          }
          &__mask{
            &__image{
              .icon{
                  float: right;
                  top: 50%;
                  transform: translateY(-33px);
                  padding-right: 25px;
              }
              .hidden {
                display: none;
              }
            }
          }
          &__submit {
            height: 50px;
            width: 90px;
            padding-bottom: 10px;
            color: $white;
            text-align: center;
            line-height: 50px;
            background-color: $light_blue;
            position: absolute;
            top: 0px;
            right: -100px;
          }
        }

      }

    }
  }
}

