.sidebar
  .sidebar-top
    .username seo
    <i class="fa fa-edit icon-edit"></i>
    <i class="fa fa-gear icon-gear"></i>
  .sidebar-bottom
    .groups
      .groups__group-name sample
      .groups__messages よろしくお願いします
    .groups
      .groups__group-name aeaaaaaaa
      .groups__messages まだメッセージはありません
    .groups
      .groups__group-name sampleグループ
      .groups__messages まだメッセージはありません
