!!!
%html.html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.body
    #wrap
      %header.header チャットグループが作成されました。
      .contents
        #{render partial: "layouts/sidebar"}
        .content
          .edit Edit
          .messages-top
            .messages-group sampleグループ
            .messages-group__members Members: seo neko
          .messages-bottom
            .message
              .member-name ryosukemaehira
              .update 2016/10/02 06:27:07
              .words なるほど
            .message
              .member-name ryosukemaehira
              .update 2016/10/02 06:27:14
              .words なるほど
            .message
              .member-name ryosukemaehira
              .update 2016/10/02 06:27:25
              .words command Enterで送信したい感ある
            .message
              .member-name ryosukemaehira
              .update 2016/10/02 06:27:30
              .words お腹空いた
          .footer
            %input.text{:type =>"text",:placeholder =>"type a message"}
            %form{:action => "#"}
              %label
                %span{:class => "filelabel"}
                  %i.fa.fa-picture-o
                %input{:type => "file", :id => "filesend"}
            .footer__send
              send
